/* BEGIN COMMUNITYRULE-SPECIFIC CSS */


/* CLASSES */
.button {
  position: relative;
  display: inline;
  float: right;
  border: 0px solid gray;
  color: gray;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  padding: 0;
}
.callout-text {
    font-family: serif;
    font-size:2em;
    margin:1.5em 0 1em 0;
}
.callout-icon {
    font-size:2em;
    margin:1.5em 0 1em 0;
}

.editable, input.editable { /* All editable fields */
    padding: 10px 10px 10px 10px;
    min-height: 1.5em;
    font-family: serif;
    border: none;
    border-bottom: 1px dashed gray;
}
.prompt {
    color: gray;
}

.page-type {
    color: gray;
}
.page-type a,.page-type a:visited {
    color: gray;
}

/* Modules */

#module-toggle {
    float: right;
    position: relative;
    margin-left: 10px;
    padding: 5px;
}
#module-menu {
/*    max-height: 300px;
    overflow-y: scroll; */
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid lightgray;
}

.module-type-header {
    font-weight: bold;
    font-size: 1em;
    margin: 10px 5px 5px 5px;
}
.module-questions {
    color: gray;
    font-size: .8em;
    margin: 0 10px 10px 10px;
}

.button:hover {
    background-color: lightgray;
}

#module-input {
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    margin: 0 0 15px 0;
    text-align: left;
    min-height: 1.5em;
}
  
.module {
    display: block;
    border: 1px solid gray;
    color: black;
    background-color: lightgray;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    font-size: .8em;
    cursor: pointer;
}

.module:hover {
    border-color: gray;
}
.module a:hover {
}
#module-name {

}
.delete-module {
    cursor: pointer;
}
.module-logo {
}

#module-custom-container {
    margin: 20px 0 10px 0;
}

.builder-list {
    margin-bottom: 2em;
}
.builder-list ul {
    //list-style-type: none;
    //list-style-image: url('/assets/tabler_icons/caret-right.svg');
    color: gray;
    margin-bottom: 0px;
}
.builder-list li {
    padding-bottom: .5em;
}

#custom-field-container {
    animation: blinker 1s linear 1;
}
@keyframes blinker {
    from {background-color: lightgray;}
    to {background-color: white;}
}
.field-controls {
    float: right;
    font-size: .7em;
}
.field-controls a {
    cursor: pointer;
}

/* MODULE PAGES */

#module-summary {
    font-size: 1.3em;
}

/* pushButton
These are the major functional buttons*/
.pushButton {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin: 0 5px 0 5px;
    font-size: 1.2em;
}
.pushButton:hover {
    background-color: lightgray;
}
.chevrons { /* The maximize/minimize button */
    font-size: 1em;
}
.icons {
    /* icons are from https://github.com/tabler/tabler-icons */
    margin: 0 5px 0 0;
}
/* link fields
Enabling users to add links*/
.linkbox {
  position: relative;
  display: block;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 6px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
  text-align: center;
}
.link-text {
    width: 40%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 1em;
}
.link-divider {
    margin: 0 20px 0 20px;
    display: inline;
}
.link-url {
    border-top: 0px;
    border-right: 0px;
    border-left: 1px;
    width: 40%;
    font-size: 1em;
}
#authorship {
    margin: 40px 0 0 0;
}
#authorship-words {
    display: none;
}
#authorship-result {
    display: none;
}

/* LIBRARY */

#librarylist {
    margin: 50px 0 0 0;
}
.library-item {
    margin: 0 0 30px 0;
}
.library-rule-name {
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}
.library-rule-author {
    display: inline-block;    
    margin: 0 0 0 10px;
    font-size: .8em;
    color: gray;
}
.library-rule-structure {
    margin: 0;
}
.library-module {
    font-size: .7em;
    padding: 1px 5px 1px 5px;
    margin: 0px;
    cursor: default;    
}

/* VARIOUS IDs */
#rulebox {
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px 0 30px 0;
}
#rulebox h3 {
    font-family: serif;
}
#communityname {
    font-weight: bold;
}
#structure {
    font-size: 1.3em;
}
#rulewriter-box {
    margin:50px 0 50px 0;
    display: none;
}
#rulewriter {
}
#editToggle {
    float: right;
    clear: both;
}
#toggleDisplayMode, #fork {
    margin: 0 5px 10px 0;
    display: none;
}
#publishRule {
    margin: 0 0 10px 0;
}
#lineage {
    margin: 0 0 20px 0;
    display: none;
}
#attribution {
    font-family: serif;
    font-size: .8em;
    text-align: right;
}
#attributionMD {
}
#trash {
    display: none;
}
#discuss {
    margin: 20px 0 20px 0;
}
#discuss-button {
    display: none;
}
