---
layout: default
---
<article class="post">

  <header class="post-header">
    <div class="page-type">Module /
      {{ page.type }}
      <img title="{{ page.type }}" draggable="false" class="module-logo"
           {% if page.type == "structure" %}
           src="{% link assets/tabler_icons/building.svg %}" {% endif %}
           {% if page.type == "process" %}
           src="{% link assets/tabler_icons/rotate.svg %}" {% endif %}
           {% if page.type == "decision" %}
           src="{% link assets/tabler_icons/thumb-up.svg %}" {% endif %}
           {% if page.type == "culture" %}
           src="{% link assets/tabler_icons/palette.svg %}" {% endif %}
           />
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  
  <p id="module-summary">{{ page.summary }}</p>

  <p><strong>[Module pages are works in progress]</strong></p>
  
  <div class="post-content">
    {{ content }}
  </div>

</article>
